@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.light-mode {
  background-color: #edf0f5;
  color: #23262C;
}

.dark-mode {
  background-color: #23262C;
  color: #F4F6FA;
}

.header {
  width: 100%;
  background-color: #f4f6fa;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dark-mode .header {
  background-color: #1e1e1e;
  border-bottom: 2px solid #333;
}

.logo h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.logo p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  opacity: 50%;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icons button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container h2 {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 40px;
  opacity: 50%;
  line-height: 24px;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 600px;
}

.container ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.dark-mode .container ul li {
  background-color: #3c3c3c;
}

.container ul li input[type="checkbox"] {
  margin-right: 10px;
}

.container ul li .completed {
  text-decoration: line-through;
}

.container ul li button {
  background: none;
  border: none;
  cursor: pointer;
}

.container ul li button img {
  width: 20px;
  height: 20px;
}

form {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #23262C;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

form button:hover {
  background-image: linear-gradient(to right, #5ced73, #008631);
}

.dark-mode form input {
  background-color: #3c3c3c;
  color: #dcdcdc;
}

.dark-mode form button {
  background-color: #fff;
  color: #1e1e1e;
}
